/*universal-selection*/
*{margin:0; padding:0; box-sizing:border-box;}

/*online-font-link*/


/*color-plates*/
:root{
	--primary:#000;
	--secondary:#000;
	--yellow:#000;
	--black:#000;
	--white:#fff;
}

/*global-classes*/
.red{color:#000;}
.blue{color:#000;}
.yellow{color:#000;}
.white{color:#fff;}
.black{color:#000;}
.container{max-width:1140px; width:100%; margin:0 auto;}
img{width:100%;}
ul{text-decoration:none;}
li{list-style:none;}
a{text-decoration:none; color:var(--primary)}
.flex{display:flex;}
.space-btwn{justify-content:space-between;}
.align-center{align-items:center;}
.text-center{text-align:center;}


.header .nav-bar ul li{padding:0px 15px;}
.image-overlap{ background-image:url(../images/banner.png); background-repeat:no-repeat; background-size:cover; }
.banner{padding:250px 0px;}
