/*universal-selection*/
*{margin:0; padding:0; box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/*online-font-link*/


/*color-plates*/
:root{
	--primary:#F26025;
	--secondary:#254BDD;
	--yellow:#FBB138;
	--black:#30312E;
	--white:#fff;
}

/*global-classes*/
.red{color:var(--primary)}
.blue{color:var(--secondary);}
.yellow{color:var(--yellow);}
.white{color:var(--white);}
.black{color:var(--black);}
.container{max-width:1140px; width:100%; margin:0 auto;}
body{font-family: 'Kanit', sans-serif;}
ul{text-decoration:none;}
li{list-style:none;}
.w-48{width:48%;}
a{text-decoration:none;}
img{width:100%;}
.flex{display:flex;}
.space-btwn{justify-content:space-between;}
.align-center{align-items:center;}
.text-center{text-align:center;}
.margin-top{margin-top:30px;}
.row-padding{padding:70px 0px;}

/* global-fonts & buttons */
h1{font-size:80px; font-weight: 700;}
h2{font-size:45px; font-weight: 700;}
p{font-size:16px; line-height:1.5;}
.global-button{background-color:var(--yellow); padding:12px 30px; border-radius:5px; color: var(--black); display: inline-block;}



/* start-header */
.header{padding:30px 0px;}
.header .nav-bar ul li a{padding:0px 15px; text-transform:capitalize; font-size:16px;  text-transform:uppercase; color: var(--white);}

/* .start-banner */
.image-overlap{ background-image:url(../images/banner.png); background-repeat:no-repeat; background-size:cover;  background-position: center;}
.banner{padding:350px 0px 150px; text-align:right;}


.about h2{text-align:center; margin: 0 auto;}